body {
  margin: 0px;
}

*[template] {
  display: none;
}

.page {
  display: none;
  margin: auto;
  font-family: sans-serif;
}

.page .p, .page p {
  max-width: 800px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.page p {
  margin-bottom: 2em;
}

.page .queue {
  max-width: 800px;
  margin: auto;
  margin-bottom: 50px;
}

.page .queue table {
  margin-left: 20px;
}

.page .queue table th {
  padding: 10px;
  background-color: rgb(160,110,200);
  color: white;
}

.show {
  display: block;
}

.hide {
  display: none;
}

h1 {
  background-color: rgb(60,20,80);
  color: white;
  padding: 20px;
}

button.configure-versions {
  float: right;
  background-color: rgb(160,110,200);
  padding: 15px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  border-width: 0px;
}

button.configure-versions:hover {
  cursor: pointer;
  background-color: rgb(180,130,220);
}

h2 {
  color: rgb(100,40,130);
  padding: 5px;
  margin-left: 10px;
}

#splash .generate {
  margin-bottom: 1em;
}

#splash .generate .info {
  display: inline-block;
  margin-top: 1.2em;
  vertical-align: top;
}

#splash .generate button {
  background-color: rgb(60,200,30);
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 8px;
  border-width: 0px;
  margin-right: 20px;
  margin-left: 20px;
  min-width: 120px;
}

#splash .generate button:hover {
  background-color: rgb(80,220,40);
  cursor: pointer;
}

#splash .generate > button {
  vertical-align: middle;
  margin-bottom: 1em;
}

#splash .generate .busy {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2em;
  margin-right: 1em;
  height: 3em;
}

#splash .generate .check {
  color: rgb(60,200,30);
  font-weight: bold;
}

#splash .generate .msg {
  vertical-align: middle;
  margin-left: 2em;
}

#splash .unsupported {
  color: rgb(240,60,40);
}

#splash .begin {
  color: rgb(90,50,130);
}

#settings table tr th {
  min-width: 80px;
}

#settings table tr:nth-child(even) {
  background-color: rgb(240,220,250);
  color: rgb(100,40,130);
}

#settings table tr:nth-child(odd) {
  background-color: rgb(210,180,220);
  color: rgb(100,40,130);
}

#settings table td {
  padding: 10px;
}

#settings table.create {
  background-color: rgb(60,200,30);
  color: white;
  border-radius: 5px;
}

#settings table.create th {
  background-color: rgb(60,200,30);
  padding-left: 15px;
}

#settings table.create td {
  background-color: rgb(60,200,30);
}

#settings table.create button {
  background-color: rgb(0,140,0);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border-width: 0px;
}

#settings table.profiles tr td:nth-child(2) {
  word-break: break-all;
  font-family: monospace;
  width: 36ex;
}

#settings .buttons button {
  background-color: rgb(100,40,130);
  color: white;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 50px;
  border-radius: 5px;
  border-width: 0px;
}

#settings .buttons button:hover {
  background-color: rgb(140,50,170);
  cursor: pointer;
}

#settings table button {
  color: white;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
  border-width: 0px;
  min-width: 80px;
}

#settings table button:hover {
  cursor: pointer;
}

#settings table button.green {
  background-color: rgb(80,200,80);
}

#settings table button.green:hover {
  background-color: rgb(20,220,20);
}

#settings table button.red {
  background-color: rgb(220,100,60);
}

#settings table button.red:hover {
  background-color: rgb(230,30,20);
}
