body {
  background-color: purple;
  color: cyan;
}

.page {
  display: none;
  margin: auto;
  max-width: 800px;
  font-family: sans-serif;
}

.show {
  display: block;
}

#splash .generate {
  height: 3em;
  margin-bottom: 1em;
}

#splash .generate button {
  vertical-align: middle;
}

#splash .generate .busy {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2em;
  height: 3em;
}

#splash .generate .msg {
  vertical-align: middle;
  margin-left: 2em;
}
