body {
  margin: 0px;
}

.page {
  display: none;
  margin: auto;
  font-family: sans-serif;
}

.page .p, .page p {
  max-width: 800px;
  margin: auto;
}

.page p {
  margin-bottom: 1em;
}

.page .queue {
  max-width: 800px;
  margin: auto;
  margin-bottom: 50px;
}

.page .queue table {
  margin-left: 20px;
}

.page .queue table th {
  padding: 10px;
  background-color: rgb(200,150,230);
  color: white;
}

.show {
  display: block;
}

.hide {
  display: none;
}

h1 {
  background-color: rgb(60,20,80);
  color: white;
  padding: 20px;
}

h2 {
  color: rgb(100,40,130);
  padding: 5px;
  margin-left: 10px;
}

#splash .generate {
  height: 4em;
  margin-bottom: 1em;
}

#splash .generate button {
  background-color: rgb(60,200,30);
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 8px;
  border-width: 0px;
  margin-right: 20px;
  margin-left: 20px;
}

#splash .generate button:hover {
  background-color: rgb(80,220,40);
  cursor: pointer;
}

#splash .generate > button {
  vertical-align: middle;
}

#splash .generate .busy {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2em;
  margin-right: 1em;
  height: 3em;
}

#splash .generate .check {
  color: rgb(60,200,30);
  font-weight: bold;
}

#splash .generate .msg {
  vertical-align: middle;
  margin-left: 2em;
}

#splash .unsupported {
  color: rgb(240,60,40);
}

#splash .begin {
  color: rgb(90,50,130);
}

#settings table tr:nth-child(even) {
  background-color: red;
}

#settings table tr:nth-child(odd) {
  background-color: yellow;
}

#settings table tr:first-child {
  background-color: lime;
}
